@{
    ViewData["Title"] = "About the program";
}
<h2>@ViewData["Title"]</h2>
<h3>SalesWebMVC</h3>

<p>A program in model MVC, contains the main concepts of the language.</p>
<p></p>
<p>You can create, edit and delete sellers and departments our search for especified sales.</p>
