@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>Links:</strong>
    <br />
    <a href="https://www.linkedin.com/in/rafael-almeida-8408171b9/">LinkedIn</a><br />
    <a href="https://github.com/RafaelGomes000">GitHub</a>
</address>
